{% extends "base.html" %}
{% load pipeline static crispy_forms_tags %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="main-content col-md-8">

            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    {{ form.old_password|as_crispy_field }}
                </div>

                <div class="form-group">
                    {{ form.new_password1|as_crispy_field }}
                </div>

                <div class="form-group">
                    {{ form.new_password2|as_crispy_field }}
                </div>

                <div class="buttonHolder">
                    <input type="submit" class="btn btn-green" name="submit" value="Save changes">
                    <a href="{% url 'users:home' %}" class="btn btn-green">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
