{% extends 'base.html' %}
{% load pipeline %}

{% block banner %}
{% endblock banner %}
    

{% block css %}
    {% stylesheet 'cart-home' %}
{% endblock css %}


{% block content %}
    
    {% for cart_item in cart_items %}
        {{ cart_item }}
    {% endfor %}
        
    <div class="order-count">
        You have <span>1 item </span> on a delivery order.
    </div>
    <div class="order-info">
        <div class="content">
            <div class="left-side row">
                <div class="left-side__image">

                </div>
                <div class="left-side__body">

                </div>
            </div>
            <div class="right-side">
                <div class="right-side__price">

                </div>
                <div class="right-side__actions">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    