{% extends 'base.html' %}
{% load pipeline static %}

{% block css %}
    {% stylesheet 'pizza-detail' %}
{% endblock css %}

{% block js %}
    {% javascript 'pizza-detail' %}
{% endblock %}

{% block banner %}
{% endblock banner %}


{% block content %}
    {% with object=pizza %}

        <section class="pizza-section">
            {% include 'snippets/order-details.html' %}
            <div class="image">
                <img src="{{ pizza.image.url }}" class="img-responsive">
            </div>
            <div class="toppings">
                <div class="toppings__title">
                    Toppings
                </div>
                <div class="toppings__list">
                    <div class="row">
                        
                        {% for ingredient in ingredients %}
                            <div class="topping-card row">
                                <div class="topping-card__image">
                                    <img src="{% static 'img/pizza-banner.jpeg' %}" class="img-responsive">
                                </div>
                                <div class="topping-card__title {% if ingredient in pizza.ingredients.all %}active" id="is-selected">{% else %}">{% endif %}
                                    {{ ingredient.title }}
                                </div>
                            </div>
                        {% endfor %}
                            
                    </div>
                </div>
            </div>
            {% include 'snippets/order-details.html' %}

        </section>
    
    {% endwith %}
{% endblock content %}
    