{% extends 'base.html' %}
{% load pipeline %}

{% block css %}
    {% stylesheet 'pizza-list' %}
{% endblock css %}

{% block content %}
    <div class="row">
            
        {% if pizzas %}
            {% for pizza in pizzas %}
                {% if pizza.status %}
                    <div class="pizza-card">
                        <div class="pizza-card__image">
                            <a href="{{ pizza.get_absolute_url }}"><img src="{{ pizza.image.url }}" class="img-responsive img-responsive-pizza"></a>
                        </div>
                        <div class="pizza-card__title">
                            <h2>{{ pizza.title }} {{ pizza.price }}</h2>
                        </div>
                        <div class="pizza-card__description">
                            {% for ingredient in pizza.ingredients.all %}
                                <span>{{ ingredient.title }}{% if not forloop.last %},{% else %}.{% endif %}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
            
    </div>
{% endblock content %}
    