.btn {
    padding: 1rem 3rem;
    cursor: pointer;
}
.btn-green {
    color: $color-white;
    background-color: $color-green;
    border: none;
    text-transform: uppercase;
    font-weight: $font-weight-bold;

}

.cta {
    text-transform: capitalize;
    text-decoration: none;
    font-size: $font-size-xl;
    padding: 1rem 3rem;
}
