.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.product-card {
    width: 25rem;
    &:not(:last-of-type) {
        margin-right: 2rem;
    }
    &__image {
        overflow: hidden;
        &:hover {
            .img-responsive-product {
                transition: opacity 0.3s, transform 0.3s ease-in;
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
    }
    &__title {
        background-color: $color-black;
        padding: 1rem;
        @include flex-center;
        h2 {
            color: $color-white;
            
        }
    }
    &__description {
        background-color: $color-green;
        color: $color-white;
        font-size: $font-size-md;
        padding: 0.5rem;
        height: 8rem;
    }
}

.feature-card {
    background-color: $color-blue;
    width: 35rem;
    margin-bottom: 2rem;
    height: 15rem;
}

.topping-card {
    width: 35rem;
    margin-bottom: 1rem;
    height: 4rem;
    border: 1px solid $gray-light;
    font-size: $font-size-sm;
    &__image {
        width: 20%;
    }
    &__title {
        width: 80%;
        @include flex-center;
        justify-content: start;
        padding-left: 2rem;
        font-size: $font-size-md;
        cursor: pointer;
    }
    &__title.active {
        background-color: $color-blue;
        color: $color-white;
    }
}

.img-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-responsive-product {
    height: 25rem;
}

.img-responsive-banner {
    height: 25rem;
}

.img-responsive-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}