.container {
    width: 1100px;
    margin: 0 auto;
    .header-top {
        display: flex;
        height: 8rem;
        position: relative;

        &__logo,
        &__cart {
            @include flex-center;
        }

        &__logo {
            width: 100%;
            a {
                width: 20%;
                height: 100%;
                padding-top: 1rem;
            }
        }

        &__cart {
            position: absolute;
            right: 0;
            width: 30%;
            height: 100%;
            a {
                width: 100%;
                @include flex-center;
                text-decoration: none;
                justify-content: end;
                margin-right: 1rem;
                color: $color-blue;
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
                span {
                    transform: scale(1.3);
                }
            }
            div {
                transform: scale(1.3);
                font-weight: $font-weight-bold;
            }
        }
    }

    .nav-bar {
        height: 5rem;
        margin-bottom: 1.5rem;
        color: $color-white;
        font-weight: $font-weight-bold;
        &.sticky {
            background-color: $color-red;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 5;
            width: 1100px;
            margin: 0 auto;
            &:before {
                content: " ";
                position: absolute;
                z-index: -1;
                top: 5px;
                left: 0px;
                right: 0px;
                bottom: 5px;
                border: 5px solid $color-white;
            }
        }
        .lists {
            height: 100%;
            font-size: $font-size-md;
            flex-flow: nowrap;
            &__item {
                &:not(:last-of-type) {
                    border-right: 1px solid $color-black
                }

                @include flex-center;
                background-color: $color-blue;
                width: 25%;
                list-style: none;
                text-transform: uppercase;
                margin-top: 1rem;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    margin-top: 0;
                    background-color: $color-red;
                }

                li {
                    color: $color-white;
                }
            }
        }
    }
    .banner {
        margin-bottom: 2rem;
        position: relative;
        &__content {
            color: $color-white;
            position: absolute;
            font-size: $font-size-xl * 2;
            font-weight: $font-weight-bold;
            bottom: 15%;
            left: 5%;
            text-shadow: 8px 7px 7px $color-blue;
            p:first-of-type {
                text-shadow: 8px 7px 7px $color-red;
            }
        }
    }

    .main {
        margin-bottom: 2rem;
    }

    #footer {
        height: 20rem;
        background-color: $gray-light;
    }
}