.container {
    width: 1100px;
    margin: 0 auto;

    .header-top {
        display: flex;
        height: 8rem;
        position: relative;
        margin-bottom: 1rem;

        &__logo {
            @include flex-center;
        }

        &__logo {
            width: 100%;

            a {
                width: 20%;
                height: 100%;
                padding-top: 1rem;
            }
        }

        &__user {
            position: absolute;
            right: 0;
            width: 30%;
            height: 100%;


            ul {
                height: 100%;
                @include flex-center;
                justify-content: end;

                li {
                    list-style: none;

                    &:not(:last-of-type) {
                        margin-right: 1rem;
                    }

                    a {
                        color: $color-blue;
                        font-size: $font-size-xl;
                        font-weight: $font-weight-bold;
                        text-transform: uppercase;
                        text-decoration: underline 2px;
                    }
                    a.greet-link {
                        text-decoration: none;
                        text-transform: none;
                        color: $color-blue;
                        svg {
                            transform: scale(1.3);
                            fill: $color-blue;
                        }
                    }

                    &:last-of-type {
                        a {
                            color: $color-red;
                            text-decoration: none;
                            text-transform: none;
                        }
                    }
                }
            }
        }
    }

    .nav-bar {
        height: 5rem;
        margin-bottom: 1.5rem;

        & * {
            height: 100%;
        }

        &.sticky {
            background-color: $color-red;
            position: fixed;
            top: 0;
            padding-top: 1rem;
            z-index: 5;
            width: 1100px;
            margin: 0 auto;
            height: 6.2rem;


            &:before {
                content: " ";
                position: absolute;
                z-index: -1;
                top: 5px;
                left: 0px;
                right: 0px;
                bottom: 5px;
                border: 5px solid $color-white;

            }
        }

        .lists {
            border-bottom: 3px solid $color-black;
            li {
                width: 20%;
                list-style: none;

                &:not(:last-of-type) {
                    border-right: 1px solid $color-black;
                }
            }

            &__item {
                width: 100%;
                height: 100%;
                @include flex-center;
                color: $color-white;
                font-weight: $font-weight-bold;
                font-size: $font-size-lg;
                background-color: $color-blue;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    margin-top: -0.5rem;
                    height: 5.2rem;
                    background-color: $color-red;
                }
            }
        }
    }

    .banner {
        margin-bottom: 2rem;
        position: relative;

        &__content {
            color: $color-white;
            position: absolute;
            font-size: $font-size-xl * 2;
            font-weight: $font-weight-bold;
            bottom: 15%;
            left: 5%;
            text-shadow: 8px 7px 7px $color-blue;

            p:first-of-type {
                text-shadow: 8px 7px 7px $color-red;
            }
        }
    }

    .main {
        margin-bottom: 2rem;
    }

    #footer {
        height: 20rem;
        background-color: $gray-light;
    }
}