{% extends 'base.html' %} 
{% load static pipeline crispy_forms_tags %}

{% block css %} {% stylesheet 'login-or-register' %} {% endblock %}

{% block content %}
<div class="login-register">
    <div class="row">
        <div class="login">
            <form action="{% url 'users:login-or-register' %}" method="post" class="">
                <input name="next" type="hidden" value="{{ next }}" />
                <div>
                    <div class="">
                        <h2 class="">Already have an account?</h2>
                    </div>
    
                    {% crispy login_form login_form.helper %}
    
                        <button type="submit" class="btn btn-green">
                            Sign in
                        </button>
    
                    <br />
                    <p>
                        <small><a href="{% url 'password_reset' %}">Forgotten your password?</a></small>
                    </p>
                </div>
            </form>
        </div>
        <div class="register">
            <form action="{% url 'users:register' %}" method="post" class="">
                <input name="next" type="hidden" value="{{ next }}" />
                <div>
                    <h2 class="">Create new account</h2>
                    <div>
                        {% if registration_form.errors %} 
                            {% include "snippets/form-error.html" %} 
                        {% endif %} 
                        {% crispy registration_form %}

                            <button type="submit" class="btn btn-green">Create account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}