{% extends 'base.html' %} 
{% load static pipeline crispy_forms_tags %}

{% block css %} {% stylesheet 'login-or-register' %} {% endblock %}

{% block content %}
<div class="login-register">
    <p class="lead">Reset your password by entering your email address below and following the instructions sent to you.</p>

    <div class="panel-body">
        {% if form.errors %}
            {% include "includes/form-error.html" %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email|as_crispy_field }}
            </div>

            <div class="">
                <input type="submit" name="submit" value="Reset password" class="btn btn-green">
            </div>
        </form>

    </div>
    <p><small><a href="{% url 'users:login-or-register' %}">Remembered your password?</a></small></p>
</div>
{% endblock %}