{% extends 'base.html' %} 
{% load static pipeline crispy_forms_tags %}

{% block css %} {% stylesheet 'login-or-register' %} {% endblock %}

{% block content %}
    <div class="login-register">
        {% if validlink %}
        <div class='panel panel-primary'>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
    
                    <div class="form-group">
                        {{ form.new_password1|as_crispy_field }}
                    </div>
    
                    <div class="form-group">
                        {{ form.new_password2|as_crispy_field }}
                    </div>
    
                    <div class="buttonHolder">
                        <input type="submit" name="submit" value="Reset password" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    
        {% else %}
        <div class='alert alert-danger'>
            <p class="lead">Reset unsuccessful</p>
            <p>The password reset link was invalid, possibly because it has already been used.</p>
    
            {% url 'password_reset' as reset_password_url %}
            <p><a href='{{ reset_password_url }}' class="alert-link">Get a new link</a></p>
        </div>
        {% endif %}
    </div>

{% endblock %}