{% extends 'base.html' %} 
{% load static pipeline crispy_forms_tags %}

{% block css %} {% stylesheet 'login-or-register' %} {% endblock %}

{% block content %}
<div class="login-register">
	<div class='alert alert-success'>
		<p class="lead"><strong>Check your inbox</strong></p>
		<p>If the email address you provided is registered with us you should receive an email containing further instructions shortly.</p>
	</div>

    <p><small><a href="{% url 'password_reset' %}">Haven't received the email?</a></small></p>
</div>
{% endblock %}