{% load pipeline static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas</title>
    {% stylesheet 'base' %}
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="container">
        <header>
            <div class="header-top">
                <div class="header-top__logo">
                    logo
                </div>
                <div class="header-top__cart">
                    cart
                </div>
            </div>
            <div class="nav-bar">
                <ul class="nav-bar__lists row">
                    <a href="/" class="nav-bar__lists__item"><li>Home</li></a>
                    <a href="{% url 'pizzas:pizza-list' %}" class="nav-bar__lists__item"><li >Pizzas</li></a>
                    <a href="http://" class="nav-bar__lists__item"><li>About</li></a>
                    <a href="http://" class="nav-bar__lists__item"><li>Contact</li></a>
                </ul>
            </div>
        </header>
        <section class="banner">
            <div class="banner__content">
                <p>Limited edition new pizza</p>
            </div>
            <img src="{% static 'img/pizza-banner.jpeg' %}" alt="pizza-banner" class="img-responsive img-responsive-banner">
        </section>

        <main class="main">
            {% block content %}
            {% endblock content %}
        </main>

        <footer id="footer">

        </footer>
    </div> 
</body>
</html>