{% load pipeline static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas</title>
    {% stylesheet 'base' %}
    {% block css %}{% endblock css %}
</head>
<body>
    <div class="container">
        <header>
            <div class="header-top">
                <div class="header-top__logo">
                    <a href="http://">
                        <img src="{% static 'img/pizza-logo.png' %}" alt="pizza-logo"  class="img-responsive-logo">
                    </a>
                </div>
                <div class="header-top__cart">
                    <span>{% include 'svgs/person-fill.html' %}</span> Vladimirs Lahiza <span>{% include 'svgs/chevron-down.html' %}</span>
                </div>
            </div>
            <div class="nav-bar">
                <ul class="lists row">
                    <a href="/" class="lists__item"><li>Home</li></a>
                    <a href="{% url 'pizzas:pizza-list' %}" class="lists__item"><li>Menu</li></a>
                    <a href="http://" class="lists__item"><li>About</li></a>
                    <a href="http://" class="lists__item"><li>Contact</li></a>
                    <a href="http://" class="lists__item"><li>Cart</li></a>
                </ul>
            </div>
        </header>
        
        {% block banner %}
            <section class="banner">
                <div class="banner__content">
                    <p>Limited edition</p>
                    <p>NEW Salami pizza!</p>
                </div>
                <img src="{% static 'img/pizza-banner.jpeg' %}" alt="pizza-banner" class="img-responsive img-responsive-banner">
            </section>
        {% endblock banner %}
            

        <main class="main">
            {% block content %}
            {% endblock content %}
        </main>

        <footer id="footer">

        </footer>
    </div>
    
    {% block js %}
    {% endblock %}

    
</body>
</html>