@import '../base.scss';

.order-count {
    @include flex-center;
    font-size: $font-size-md;
    span {
        font-weight: $font-weight-bold;
    }
}

.order-info {
        border-bottom: 1px solid $gray-light;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    .content {
        @include flex-center;
        padding: 2rem;
        .left-side, .right-side {
            width: 50%
        }
        &:not(:last-of-type) {
            border-bottom: 2px dotted $gray-light;
        }
        .left-side {
            @include flex-center;
            align-items: start;
            justify-content: flex-start;
            &__image{
                position: relative;
                width: 10rem;
                height: 10rem;
                margin-right: 3rem;
                .product-quantity {
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    background: $color-red;
                    font-size: $font-size-md;
                    font-weight: $font-weight-bold;
                    border: 2px solid darken($color-red, 15%);
                    color: $color-white;
                    text-align: center;
                    position: absolute;
                    bottom: -10px;
                    right: -10px;
                }
            }
            &__body {
                padding-top: 1rem;
                width: 50%;
                font-size: $font-size-md;
                font-weight: $font-weight-bold;
                .ingredient {
                    font-weight: $font-weight-normal;
                }
            }

        }

        .right-side {

            color: $color-blue;
            &__price, &__actions {
                @include flex-center;
                justify-content: end;
            }
            &__price {

                font-size: $font-size-xl;
                font-weight: $font-weight-bold;
            }
            &__actions {
                a, form:not(:last-of-type) {
                    margin-right: 1rem;
                }
                .action {
                    border: none;
                    cursor: pointer;
                    height: 3.5rem;
                    width: 3.5rem;
                    background-color: $color-blue;

                    color: $color-white;
                    @include flex-center;
                    svg {
                        transform: scale(1.5);
                    }
                }
                .action-add {
                    background-color: $color-green;
                }
                .action-remove {
                    background-color: $color-red;
                }
            }
        }
    }
}

.order-total {
    border: 1px solid $gray-light;
    @include flex-center;
    flex: 1;
    height: 6rem;
    .total-left, .total-right {
        width: 50%;
        height: 100%;
        font-weight: $font-weight-bold;

    }
    .total-left {
    }
    .total-right {
        @include flex-center;
        justify-content: space-between;

        .total {
            color: $color-black;
            font-size: $font-size-md;
        }
        .price {
            color: $color-blue;
            font-size: $font-size-xl * 1.5;
            margin-right: 2rem;
        }
    }
}