@import '../base.scss';

.login-register {
    font-size: $font-size-md;
    padding: 5rem 5rem;
    background-color: $color-blue-light;
    h2 {
        font-size: $font-size-xl;
    }
    .login, .register {
        margin: 0 auto;

        .control-group:last-of-type {
            margin-bottom: 2rem;
        }
    }
    .login {

    }

    .register {

    }
}
.controls {
    font-size: $font-size-sm;
}